html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wins-container, .losses-container {
    display: flex;
    flex-wrap: nowrap;
}

.teammate-wins, .teammate-losses, .enemy-wins, .enemy-losses {
    display: inline-block;
}
