@model RestSharpClient.Models.Summoner
@{
    ViewData["Title"] = "Startpage";

}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Best bans</title>
</head>

<body>
<div class="row">
    <div class="row-md-4">
        <form asp-action="SearchSummoner">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Tagline" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Tagline" class="form-control tagline-input" />
                    <span asp-validation-for="Tagline" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Search Summoner Name" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
</body>

<style>
    .form-group {
        display: inline-block;
        margin-right: 0px; 
    }

    .form-group label {
            display: block; 
            margin-bottom: 5px; 
        }

        .btn-primary {
            margin-left: 15px;  
        }

        .tagline-input {
            width: 50%;
        }
            
</style>


